@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/variables.scss";

#about {
    display: flex;
    justify-content: center;
}

.section-about-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;

    font-size: 20px;
    font-weight: 200;
    @include desktop {
        flex-direction: row;
        max-width: 1440px;
    }
    &__text {
        display: flex;
        align-items: center;
        text-align: justify;
        width: 100%;
        @include desktop {
            width: 50%;
        }
    }
    &__portrait {
        display: flex;
        justify-content: center;
        width: 100%;
        @include desktop {
            width: 50%;
        }
    }
    & img {
        height: 600px;
    }
}
