@import "../../../styles/utils/mixins.scss";
@import "../../../styles/utils/variables.scss";

#contact {
    display: flex;
    justify-content: center;
}

.section-contact-container {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    font-weight: 200;
    padding: 30px;
    @include desktop {
        max-width: 1440px;
    }
}
// https://maps.app.goo.gl/MVG1D4BV7NU9fMtN7
// https://www.linkedin.com/in/laurent-lb-7364a6299
