@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/variables.scss";

header {
    position: fixed;
    z-index: 2;
    background-color: $white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: $white;
    @include desktop {
        max-width: 1440px;
    }
    &__logo {
        padding: 30px 30px;
        cursor: url("../../assets/pointer.png"), pointer;
        &--content {
            color: $primary;
            font-size: 30px;
            font-weight: 800;
        }
    }
    &__nav {
        padding: 30px 30px;
        cursor: url("../../assets/pointer.png"), pointer;
    }
}
