@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/variables.scss";

.footer-container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 40px 30px;
    color: $white;
    background-color: $grey;
}
