@import "../utils/variables.scss";

* {
    cursor: inherit;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    cursor: url("../../assets/default.png"), default;
}

button {
    background: none;
    border: none;
    cursor: url("../../assets/pointer.png"), pointer;
}

header,
main,
footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

h2 {
    font-weight: 400;
}
